
/*GENERAL*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.main-container
{
    position: relative;
}
.margin-top
{
    margin-top: 20px;
}

/*HEARDER*/
.main-hearder
{
    width: 100%;
    height: 100px;
    background-color: pink;
}

/*JUMBOTRON*/
.jumbotron
{
    width: 100%;
    height: 300px;
    background-color: greenyellow;
}

/*MAIN*/

main
{
    background-color: blue;
    height: 600px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;  
}

/*CONTENT HEARDER*/
.content-hearder
{
    display: block;
    height: 80px;
    background-color: aquamarine;
}

/*MAIN CONTENT*/


